@model Compactor.Models.ViewModel.InitialViewModel
@{
    ViewBag.Title = "Zarezerwój";
}

<h3>@Model.Heading</h3>

<div class="row">
    @Html.Partial("_Reservation", Model.ReservationVM)
    <hr />
</div>

<div class="row">
    <div class="col-sm-12 col-lg-5">

        @Html.Partial("_RenderType", Model.GroupList)

    </div>

    <div class=" col-lg-2"></div>

    <div class="col-sm-12 col-lg-5">

        <div id="reservationPosition">

            @Html.Partial("_ReservationPositions", Model.ReservationVM.Reservation.ReservationPositions)

        </div>

    </div>

</div>